@import '../../styles/mixins.scss';

.back {
  position: absolute;
  top: toRem(5);
  left: toRem(25);
  z-index: 6;

  // .back__arrow
  &__arrow {
    font-size: 2rem;
    &:hover {
      cursor: pointer;
    }

    &::before {
      -webkit-text-stroke: 1px var(--main-bg-color);
    }
  }
}
