.theme-container {
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 5;
}
.theme-buttons {
  display: flex;
}
.theme-button {
  transition: color 500ms linear;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
  border-radius: 50%;
  border: 1px solid var(--main-text-color);

  span {
    font-size: 1.5rem;
  }
}
