@import '../../styles/mixins.scss';

.menu {
  height: toRem(72);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: toRem(19);
  overflow: hidden;
  transition: all 0.3s ease;

  position: sticky;
  top: 0;
  z-index: 50;

  &__list {
    display: flex;
    gap: toRem(20);
    height: 100%;
    color: var(--add-text-color);
    font-weight: 700;
    font-size: toRem(24);
    overflow-x: scroll;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
      background-color: transparent;
      height: 0;
      width: 0;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}
._active-menu-item {
  color: var(--select-color);
  border-bottom: toRem(2) solid var(--select-color);
}
.sticky {
  background: var(--add-bg-color, #222);
}
