@import '../../styles/mixins.scss';

.wrapper {
  margin: 0 auto;
  max-width: var(--maxWidthContainer);
  min-width: var(--minWidthContainer);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
  padding: toRem(10) 0;
}
