@font-face {
  font-family: 'icons-font';
  src: url('../assets/font/icons-font.woff?6k8ffq') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='_icon-'],
[class*=' _icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-telegram:before {
  content: '\e908';
}
._icon-minus:before {
  content: '\e90c';
}
._icon-check_mark:before {
  content: '\e90d';
}
._icon-email:before {
  content: '\e907';
}
._icon-Instagram_color:before {
  content: '\e909';
}
._icon-location:before {
  content: '\e90a';
}
._icon-plus_circle_fill:before {
  content: '\e90b';
}
._icon-arrow:before {
  content: '\e900';
}
._icon-favorite:before {
  content: '\e901';
}
._icon-like:before {
  content: '\e902';
}
._icon-like-out:before {
  content: '\e903';
}
._icon-phone_1:before {
  content: '\e904';
}
._icon-phone_2:before {
  content: '\e905';
}
._icon-search:before {
  content: '\e906';
}
