@import './_reset-style.scss';
@import './mixins.scss';
@import './icons-font_style.css';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

// Стилі для світлої теми
html[data-theme='light'] {
  --main-text-color: #f2ccaa;
  --add-text-color: #5a4f44;
  --main-bg-color: #1a1919;
  --add-bg-color: #222222;
  --select-color: #835e3d;
}

// Стилі для темної теми
html[data-theme='dark'] {
  --main-text-color: #f2ccaa;
  --add-text-color: #5a4f44;
  --main-bg-color: #1a1919;
  --add-bg-color: #222222;
  --select-color: #835e3d;
}

:root {
  --main-text-color: #f2ccaa;
  --add-text-color: #5a4f44;
  --main-bg-color: #1a1919;
  --add-bg-color: #222222;
  --select-color: #835e3d;

  // Ширина обмежуючого контейнера - обгортки
  --maxWidthContainer: 380px;
  --minWidthContainer: 320px;

  // Основний шрифт
  --mainFontFamily: 'Lora', serif;

  --header-height: 4.5rem; // 4.5rem; /* 72/18 */

  --header-icon-witdh: 2.3rem; // 2.3rem; /* 38/18 */
  --header-icon-height: 2.3rem; //2.3rem; /* 38/18 */

  --border-radius: 0.6rem; /* 10/18 */
}

html {
  font-size: 18px;
  color: var(--main-text-color);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
._container {
  padding-right: toRem(16);
  padding-left: toRem(16);
}
._icon-header-container {
  width: var(--header-icon-witdh);
  height: var(--header-icon-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
  }
}
._border {
  border: toRem(1) solid var(--select-color);
}
._border-bottom {
  border-bottom: toRem(1) solid var(--select-color);
}
._no-scroll {
  overflow-y: hidden;
}
