@use 'sass:math';

// Функція, яка вираховує %
@function pecent($px, $from: 100) {
  @return math.div($px, $from) * 100%;
}

// Функція, яка переводить числове значення в rem
@function toRem($px, $current: 16) {
  $result: math.div($px, $current) + rem;
  @return $result;
}

// Функція, яка переводить числове значення в em
@function toEm($px, $from: 100) {
  @return math.div($px, $current) + em;
}
