@import '../../styles/mixins.scss';

.btn-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(4);
  flex: 0 0 49%;
  height: 100%;
  border-radius: var(--border-radius);
  font-size: toRem(15);
  font-weight: 400;
  transition: all 0.3s ease;
  color: var(--select-color, #835e3d);

  &:hover {
    cursor: pointer;
  }

  span {
    color: inherit;
  }

  // .btn-footer__title
  &__title {
    color: inherit;
  }
  // .btn-footer__quantity
  &__quantity {
    color: inherit;
  }
}
