@import '../../styles/mixins.scss';

.main {
  flex: 1 1 auto;

  &__content {
    padding-top: toRem(7);
    padding-bottom: toRem(7);
    display: flex;
    flex-direction: column;
    gap: toRem(7);
  }
}
