@import '../../styles/mixins.scss';

.logo {
  height: 100%;
  position: relative;
  color: var(--select-color);
  font-weight: 700;

  a {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: toRem(5);
  }
  img {
    object-fit: contain;
    width: 50%;
    height: 50%;
  }
}
