@import '../../styles/mixins.scss';

.product-card {
  position: relative;
  border-radius: var(--border-radius);
  a {
    padding: toRem(14) toRem(5);
    display: flex;
    gap: toRem(10);
  }

  // .product-card__action-icons
  &__action-icons {
    position: absolute;
    top: toRem(0);
    right: toRem(0);

    span {
      &:hover {
        cursor: pointer;
      }
    }
  }

  // .product_card__photo
  &__photo {
    flex: 0 0 35%;
    width: 100%;
    height: toRem(80);
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10%;
    }
  }
  // .product_card__main-info
  &__main-info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  // .product_card__title
  &__title {
    font-size: toRem(17);
    font-weight: 700;
    color: var(--select-color, #835e3d);
    width: 90%;
  }
  // .product_card__description
  &__description {
    flex: 1 1 auto;
    font-size: toRem(11);
    padding: 0.375rem 0;
  }
  // .product_card__footer
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  // .product_card__price
  &__price {
    font-size: 0.875rem;
    font-weight: 700;
  }
  // .product_card__quantity
  &__quantity {
    font-size: 0.75rem;
    color: var(--select-color, #835e3d);
  }
  // .product_card__pseudo-likes
  &__pseudo-likes {
    width: 1rem;
  }

  // .product_card__likes
  &__likes {
    position: absolute;
    bottom: toRem(15);
    right: toRem(15);
  }
}

.action-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--select-color);
  z-index: 4;
  padding: toRem(10);

  // .action-icons__icon
  &__icon {
    font-size: toRem(16);
  }
}
