@import '../../styles/mixins.scss';

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: toRem(16);
  position: relative;

  // .product__photo
  &__photo {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10%;
    }
  }

  // .product__main-info
  &__main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: toRem(16);
  }
  // .product__title
  &__title {
    color: var(--select-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
  }
  // .product__description
  &__description {
    display: flex;
    flex-direction: column;
    gap: toRem(6);
    text-indent: toRem(16);
    text-align: justify;
    line-height: 1.1;
  }
  // .product__footer
  &__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: toRem(16);
    color: var(--select-color);
  }
  // .product__price
  &__price {
    font-weight: 700;
  }
  // .product__quantity
  &__quantity {
  }
  &__likes {
    font-size: toRem(16);
  }
}
