@import '../styles/mixins.scss';

.contacts {
  padding-top: toRem(20);
  padding-bottom: toRem(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: toRem(16);
  border-radius: var(--border-radius);

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: toRem(10);
  }
  span {
    &::before {
      font-size: toRem(18);
    }
  }
  // .contacts__phone
  &__phone {
  }
  // .contacts__location
  &__location {
  }
  // .contacts__instagram
  &__instagram {
  }
}
