@import '../styles/mixins.scss';

.search-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--maxWidthContainer);
  min-width: var(--minWidthContainer);
  position: absolute;
  top: var(--header-height);
  height: 100%;
  overflow: hidden;
  background-color: var(--main-bg-color);
  z-index: 55;
}
.search-page {
  padding-top: toRem(7);
  padding-bottom: toRem(7);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: toRem(7);
  overflow-x: hidden;
  overflow-y: auto;

  will-change: transform;
  animation: show-search-page 0.3s ease-out;

  &__none {
    text-align: center;
    font-size: toRem(16);
    overflow: hidden;
  }
}

@keyframes show-search-page {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
