@import '../styles/mixins.scss';

.selected {
  padding-top: toRem(7);
  padding-bottom: toRem(7);
  display: flex;
  flex-direction: column;
  gap: toRem(7);

  &__none {
    text-align: center;
    font-size: toRem(16);
  }
}
