@import '../../styles/mixins.scss';

.header {
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  background: var(--add-bg-color, #222);
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > span {
    width: var(--header-icon-witdh);
    height: var(--header-icon-height);
  }
}
