@import '../../styles/mixins.scss';

.title-page {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: toRem(54);
  width: 100%;

  // .title-page__arrow
  &__arrow {
    top: toRem(9);
    left: toRem(5);
    color: var(--select-color);
  }

  // .title-page__title
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--select-color);
  }
}
