@import '../../styles/mixins.scss';

.footer {
  height: toRem(54);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: toRem(7);
  gap: toRem(4);
  position: sticky;
  bottom: 0;
  z-index: 5;
  background: var(--add-bg-color, #222);
}
