@import '../../styles/mixins.scss';

.search {
  background-color: var(--add-bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 18px;
  z-index: 10;
  width: var(--header-icon-witdh);
  height: var(--header-icon-height);
  border-radius: var(--border-radius);
  transition: all 0.3s ease;

  // .search__icon
  &__icon {
  }

  // .search__input
  &__input {
    display: none;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: toRem(16);
    padding: 0 toRem(10);
    background-color: transparent;
    color: var(--main-text-color);
  }

  // .search__close
  &__close {
    display: none;
    width: var(--header-icon-witdh);
    height: var(--header-icon-height);
    right: 0;
    top: toRem(16);
    z-index: 11;

    &:hover {
      cursor: pointer;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: toRem(16);
      height: toRem(1);
      background-color: var(--select-color);
      right: toRem(8);
      top: toRem(16);
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}

.search.active {
  width: 91%;
  padding: 0 toRem(8);

  .search__input {
    display: block;
  }

  .search__close {
    display: block;
  }
}
